<!DOCTYPE html>
<html>
<head>
	<title>graphs</title>
  	<H1><FONT FACE="Arial" SIZE="4" COLOR="black">Graphs 3D</FONT></H1>
  	<H2><FONT FACE="Arial" SIZE="2" COLOR="blue">Visualizations</FONT></H2>

	<nav id="menu">
		<ul>
			<li><a href="home">Home</a></li>
			<li><a href="stacked">Staked</a></li>
			<li><a href="treemap">Treemap</a></li>
			<li><a href="#">Line</a></li>
			<li><a href="#">Geomap</a></li>
		</ul>
	</nav>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>

