{% extends "header.html" %}

{% block content %}

  	<script src="//d3js.org/d3.v3.min.js"></script>
  	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

 	<H1><FONT FACE="Arial" SIZE="4" COLOR="black">Comparing use of browsers</FONT></H1>
  	<H2><FONT FACE="Arial" SIZE="2" COLOR="blue">Graphic Stacked</FONT></H2>
	<script type=text/javascript src="/static/js/stacked.js"></script>
	<script type=text/javascript src="/static/js/stacked-controler.js"></script>
	<link type="text/css" rel="stylesheet" href="static/css/style.css"/>

{% endblock content %}