{% extends "header.html" %}

{% block content %}
  <H1><FONT FACE="Arial" SIZE="4" COLOR="black">DATA </FONT></H1>
  <H2><FONT FACE="Arial" SIZE="2" COLOR="blue">Graphic Treemap</FONT></H2>

  <form>
    <label><input type="radio" name="mode" value="size" checked> Size</label>
    <label><input type="radio" name="mode" value="count"> Count</label>
  </form>

  <script src="//d3js.org/d3.v3.min.js"></script>
  <script type=text/javascript src="/static/js/treemap.js"></script>
  <link type="text/css" rel="stylesheet" href="static/css/treemap.css"/>

{% endblock content %}
